* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: #EDECE4;
    border: 10px solid #CBC6B9;
}

main{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 876px;
}

span{
    display: flex;
    align-items: center;
    gap: 30px;
}

.textDay {
    font-size: 18;
    color: black;
}

.markerGreen{
    width: 12px;
    height: 12px;   
    border-radius: 12px;
    background-color: green;
}

.textHours{
    width: 318px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}
